@media (max-width: 1212px) {}

@media (max-width: 1024px) {}

@media (max-width: 992px) {
   .nav_links {
      position: absolute;
      flex-direction: column;
      background: var(--primary-900);
      width: 300px;
      height: 100vh;
      z-index: 45;
      align-items: flex-start;
      left: -300px;
      top: 0;
      padding-left: 0;
      gap: 10px;
      padding-top: 110px;
      padding-left: 20px;
      padding-right: 20px;
      transition: 0.3s;
   }

   .header_wrapper {
      overflow: visible;
      position: inherit;
   }

   .nav_links li .link:after {
      content: none;
   }

   .nav_links li {
      width: 100%;
      padding: 8px 12px;
      border-radius: 5px;
   }

   .header_wrapper:has(.active) .nav_links {
      opacity: 1;
      margin: 0;
   }

   .nav_links li .link {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   .nav_links li .link .nav_icon {
      display: block;
   }

   .nav_links li:hover {
      background-color: var(--primary-200);
   }

   .nav_links li.menu_active {
      background-color: var(--primary-200);
      position: relative;
   }

   .nav_links li.menu_active:after {
      position: absolute;
      content: "";
      background-color: white;
      width: 16px;
      height: 2px;
      right: 9px;
      top: 50%;
   }

   .header_cate_section .cate_btn {
      display: none;
   }

   .menu {
      display: block;
   }

   .nav_links.Active {
      left: 0;
   }

   .category_nav {
      display: block;
   }

   .search_menu_icon {
      display: flex;
   }

   .search_icon {
      display: none;
   }

   .search_bottom.Active {
      opacity: 1;
      height: 64px;
      z-index: 44;
   }

   .header_search {
      display: none;
   }

   .menu_search.Active {
      opacity: 1;
   }

   .hero_wrapper {
      flex-direction: row;
      padding-bottom: 10px;
      overflow-x: auto;
      scroll-behavior: smooth;
   }

   .hero_child figure {
      height: 100%;
   }

   .hero_sub_main figure {
      height: 100%;
   }

   .hero_main {
      flex: 0 0 100%;
      flex-direction: revert;
   }


   .hero_sub_main {
      flex: 0 0 100%;
   }

   .hero_child {
      flex: 0 0 100%;
      height: 200px;
   }
   .single_blog_main{
      flex-direction: column;
   }
}

@media (max-width: 768px) {
   .next_prev_btn {
      flex-direction: column;
      gap: 10px;
  }
  .next {
   align-self: flex-end;
}
.prev {
   align-self: flex-start;
}

.next_prev_btn {
   background: #f9f9f9;
}
.tag_content {

   flex: 0 0 80px;
   align-items: center;
   gap: 1px;
}
}

@media (max-width: 640px) {}

@media (max-width: 465px) {
   .search_bottom {
      right: 50%;
      transform: translateX(50%);
   }
   .single_blog_tag{
      font-size: 14px;
      align-self: flex-end;
   }
   .single_blog_content{
      flex-direction: column;
      gap: 3px;
      align-items: flex-start;
      width: 100%;
   }
   .single_blog_content:after{
      content: none;
   }
}

@media (max-width: 425px) {
   .aurthor {
      display: none;
  }
}