@media (max-width: 1212px) {}

@media (max-width: 1024px) {
   .header_search {
      width: 90%;
  }
  
  .header_search_result {
      width: 90%;
      left: 20px;
  }
}

@media (max-width: 992px) {
   .nav_links {
      position: absolute;
      flex-direction: column;
      background: var(--primary-900);
      width: 300px;
      height: 100vh;
      z-index: 45;
      align-items: flex-start;
      left: -300px;
      top: 0;
      padding-left: 0;
      gap: 10px;
      padding-top: 110px;
      padding-left: 20px;
      padding-right: 20px;
      transition: 0.3s;
   }
   .header_search_result{
      margin: 0;
      position: absolute;
   }
   .header_wrapper {
      overflow: visible;
      position: inherit;
   }

   .nav_links li .link:after {
      content: none;
   }

   .nav_links li {
      width: 100%;
      padding: 8px 12px;
      border-radius: 5px;
   }

   .header_wrapper:has(.active) .nav_links {
      opacity: 1;
      margin: 0;
   }

   .nav_links li .link {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   .header_Ssearch_main.active {
      display: flex;
  }
   .nav_links li .link .nav_icon {
      display: block;
   }

   .nav_links li:hover {
      background-color: var(--primary-200);
   }

   .nav_links li.menu_active {
      background-color: var(--primary-200);
      position: relative;
   }

   .nav_links li.menu_active:after {
      position: absolute;
      content: "";
      background-color: white;
      width: 16px;
      height: 2px;
      right: 9px;
      top: 50%;
   }

   .header_cate_section .cate_btn {
      display: none;
   }

   .menu {
      display: block;
   }

   .nav_links.Active {
      left: 0;
   }

   .category_nav {
      display: block;
   }

   .search_menu_icon {
      display: none;
   }

   .search_icon {
      display: flex;
   }

   .search_bottom.Active {
      opacity: 1;
      height: 64px;
      z-index: 44;
   }

   .header_search {
      position: unset;
      transform: translate(0%, 0%);
  }
  

  .header_search.active{
   width: 100%;
  }
  .header_wrapper {
      position: unset !important;
  }
  .header_search_result {
   top: 57px !important;
   width: 100%;
   left: 0;
}
  
  .header_Ssearch_main {
      left: auto;
      right: 0;
  }
  .latest_main_page{
   flex-direction: column;
  }
  .header_Ssearch_main {
      top: auto;
      bottom: -83px;
      background: var(--primary-600);
      padding: 5px;
      right: -176px;
      left: auto;
      border-radius: 0 0 5px 5px;
      border-top: 1px solid white;
      display: none;
  }
   .menu_search.Active {
      opacity: 1;
   }

   .hero_wrapper {
      flex-direction: row;
      padding-bottom: 10px;
      overflow-x: auto;
      scroll-behavior: smooth;
   }

   .hero_child figure {
      height: 100%;
   }

   .hero_sub_main figure {
      height: 100%;
   }

   .hero_main {
      flex: 0 0 100%;
      flex-direction: revert;
   }


   .hero_card_responsive .hero_main_child_content .hero_detail.webkit {
      display: flex;
  }

  .hero_card_responsive .hero_main_child_content .date_aurthor{
      display: flex;
  }
   .hero_sub_main {
      flex: 0 0 100%;
   }

   .hero_child {
      flex: 0 0 100%;
      height: 250px;
   }

   .single_blog_main {
      flex-direction: column;
   }

   .store_main {
      flex-direction: column;
      padding-top: 154px;
   }

   .store_wrapper {
      width: 100%;
   }

   .sidebar {
      position: unset;
   }
   .sidebar.single_store_sidebar{
      margin: 0;
   }
   .single_store_wrapper{
      flex-direction: column;
   }

   .filter_main {
      position: absolute;
      background: white;
      top: 111px;
      left: 15px;
      padding-right: 7px;
   }

   .contact_img {
      display: none;
   }
   .sidebar_item.all_code_filters {
      position: absolute;
      width: 88%;
      top: 285px;
      left: 15px;
  }
  
  .single_store_main {
      margin-top: 68px;
  }
  .alphabet_filter{
   display: none;
  }
}

@media (max-width: 768px) {
   .next_prev_btn {
      flex-direction: column;
      gap: 10px;
   }

   .next {
      align-self: flex-end;
   }

   .prev {
      align-self: flex-start;
   }

   .next_prev_btn {
      background: #f9f9f9;
   }

   .tag_content {

      flex: 0 0 80px;
      align-items: center;
      gap: 1px;
   }

   .home_sidebar {
      display: none;
   }
   .single_stoe_uper_card{
      flex-direction: column;
      align-items: center;
   }
   .single_store_uper_img {
      width: 130px;
  }
  
  .rating {
      display: flex;
      align-items: center;
      gap: 5px;
      justify-content: center;
  }
  
  article.store-verify__tag {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  h4.single_store_uper_title {
   text-align: center;
}
.single_uper_card_main {
   padding-bottom: 90px;
}
.sidebar_item.all_code_filters {
   top: 471px;
}
.click_code_main {
   flex-direction: column;
}

.copy_code_btn.visit_store {
   flex: 0 0 35px;
}
}
@media (max-width: 640px) {
   form.subscribe_form {
      width: 420px;
   }
}
@media (max-width: 571px) {
   .sidebar_item.all_code_filters {
      top: 498px;
  }
}
@media (max-width: 597px) {
   .store_main {
      padding-top: 192px;
   }
}

@media (max-width: 571) {
   .sidebar_item.all_code_filters {
      top: 502px;
  }
  .click_code_main{
   flex-direction: column;
  }
}

@media (max-width: 465px) {
   .search_bottom {
      right: 50%;
      transform: translateX(50%);
   }

   .single_blog_tag {
      font-size: 14px;
      align-self: flex-end;
   }

   .single_blog_content {
      flex-direction: column;
      gap: 3px;
      align-items: flex-start;
      width: 100%;
   }

   .single_blog_content:after {
      content: none;
   }

   form.subscribe_form {
      width: 340px;
   }
}

@media (max-width: 425px) {
   .aurthor {
      display: none;
   }

   form.subscribe_form {
      width: 250px;
   }

   .store_main {
      padding-top: 237px;
   }
   .coupon_img_tags{
      flex-direction: column;
   }
   .header_Ssearch_main{
      max-width: 350px;
      right: -156px !important;
   }
   
}